
.backButton {
    position: absolute; 
    left: 20px;
    background-color: #007bff;
    width: auto;
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px; 
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #0056b3; 
  }
  